[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
yamjam = "*"
social-auth-app-django = "*"
"django-bootstrap3" = "*"
faker = "*"
bokeh = "*"
pymessenger = "*"
whitenoise = "*"
dj-database-url = "*"
gunicorn = "*"
"psycopg2" = "*"
factory-boy = "*"
djangorestframework = "*"
"psycopg2-binary" = "*"

[dev-packages]

[requires]
python_version = "3.6"
