{% extends 'home.html' %}
{% block local_js %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="pawa-box col-xs-10 col-xs-offset-1">

                <p>
                    We used the following equation to calculate your activity score

                    $$as=\frac{tp + tc ^ 2 + tr}{am}$$
                </p>

                <p>where,</p>
                <p><i>as = Activity Score</i></p>
                <p><i>tp = Total Posts</i></p>
                <p><i>tc = Total Comments</i></p>
                <p><i>tr = Total Reactions</i></p>
                <p><i>am = Active Members</i></p>

                <p>
                    It turns out that your activity score is: <span id="activity-score">{{ activity_score }}</span>
                </p>

                <a  href="{{ pawa_url }}" type="button" class="btn btn-primary">Back to Pawa</a>
                <a  href="{{ dashboard_url }}" type="button" class="btn btn-secondary">Go to Dashboard</a>
            </div>
        </div>
    </div>
{% endblock %}