{% extends 'home.html' %}
{% load bootstrap3 %}
{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form group_form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Submit
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}