{% extends 'home.html' %}
{% block local_css %}
    <style>
    .card{
        background-color: white;
        min-height: 200px;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-top : 20px;
        margin-top: 10px;
        border-radius: 10px;
    }
    </style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
         <h5>All anonymous posts</h5>
         <h6>💡Tip:Copy to share on group or delete if the post abuses rules.</h6>
        
        {% if posts %}
            {% for post in posts %}
             <div class="col-xs-8 col-xs-offset-2">
                 <div class="card">

                    <h4><b>Post # {{ forloop.counter }}</b></h4>
                    <p id="post-{{ post.id }}"> {{ post.message }}</p>

                </div>
                <button data-purpose="copy-btn" class="btn btn-primary"  id="{{ post.id }}">Copy</button>
                 <button data-purpose="delete-button" class="btn btn-secondary" id="{{ post.id }}">Delete</button>
             </div>
        {% endfor %}
        {% else %}
            <p>⚠️No posts to show! *Get members to submit posts by sharing the 'HonestyBox'</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block local_js %}
    <script>
    $(document).ready(function(){

        $('button').click(function(){
            var current_id= $(this).attr('id');
            var purpose = $(this).attr('data-purpose');

            if(purpose === 'copy-btn'){
                current_id = "post-" + current_id;

                var copyText = $("#" + current_id).text();

                $('body').append('<input type="text">');

                var current_input = $('input');

                current_input.val(copyText);
                current_input.select();

                document.execCommand("copy");

                current_input.remove();

                alert("Copied Successfully")

            }else{

                  var current_data = {
                      'post_id' : current_id
                  };

                  var request=$.ajax({
                    url: '/delete_post',
                    method: 'POST',
                    data: current_data
                });

                request.done(function(msg){
                    if (msg==='deleted'){
                        alert('Deleted successfully :)');
                        window.location.reload();
                    }
                    else{
                        alert("No refresh:"+msg);
                    }
                });

                request.fail(function(jqXHR, textStatus){
                   alert("Request failed: "+ textStatus);
                });
            }

        });
    });
    </script>
{% endblock %}
